<h1>Welcome to Worldwide Pageants</h1>

<ul>
  <li><a href="/pageants"> Pageants</a></li>
  <li><a href="/pageants/new">New Pageant</a></li>
  <li><a href="/contestants"> Contestants</a></li>
  <li><a href="/contestants/new">New Contestant</a></li>
</ul>