<h1>Pageant Contestants:</h1>

<% @contest.each do |contestant| %>
    <h2><%= contestant.name %></h2>
    <li>Has: <%= contestant.years_of_experience %> years of experience</li>
    <li>A Representative? <%= contestant.has_representative %></li>
<% end %>